.about-page-container {
  min-height: 100vh;

  margin-top: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-text {
  width: 65%;

  padding-top: 30px;
  padding-left: 30px;

  white-space: pre-wrap;
}

.external-links {
  width: 65%;

  padding-bottom: 30px;
  padding-left: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.artist-website-container {
  padding-left: 10px;

  transform: translateX(-10px);
  transition: transform 0.25s ease-out;
}
.artist-website-container:hover {
  transform: scale(1.1);
}
.artist-website-url {
  display: flex;
  align-items: flex-start;
  gap: 1vmin;

  color: black;
  text-decoration: none;
}

.design-credit {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.formal-settings-container {
  transform: translateX(-10px);
  transition: transform 0.25s ease-out;
}
.formal-settings-container:hover {
  transform: scale(1.1);
}

.formal-settings-url {
  display: flex;
  align-items: flex-start;
  gap: 1vmin;

  color: black;
  text-decoration: none;
}

@media screen and (max-device-width: 414px) {
  .about-page-container {
    margin-top: 400px;

    font-size: calc(12px + 2vmin);
  }

  .about-text {
    width: inherit;

    padding: 30px 17px;
  }

  .external-links {
    width: inherit;
    padding: 17px;
  }
}
