.about-page-container {
  min-height: 100vh;

  margin-top: 500px;
  /* background-color: #ecff78; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-text {
  width: 65%;

  padding-top: 30px;
  padding-left: 30px;
}

.external-links {
  width: 65%;

  padding-bottom: 30px;
  padding-left: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.artist-website-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;

  padding-left: 10px;
  transform: translateX(-10px);
  transition: transform 0.25s ease-out;
}
.artist-website-container:hover {
  transform: scale(1.1);
}
.artist-website-url {
  /* margin: 10px 20px; */
  color: black;
  text-decoration: none;
}

.design-credit {
  /* width: 65%;s */

  /* padding-bottom: 30px;
  padding-left: 30px; */

  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.formal-settings-container {
  transform: translateX(-10px);
  transition: transform 0.25s ease-out;

  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.formal-settings-container:hover {
  transform: scale(1.1);
}
.formal-settings-url {
  color: black;
  text-decoration: none;
}
