.project-container {
  height: fit-content;
  padding: 40px 20px;
}
.project-image-container {
  width: 65%;
}

.project-image {
  width: 100%;
  border-radius: 10px;
}

.project-text-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.project-title-container {
  transform: translateX(-10px);
  transition: transform 0.25s ease-out;
}
.project-title-container:hover {
  transform: scale(1.1);
}
.project-link {
  text-decoration: none;
}
.project-title {
  color: black;
}

.project-description {
  width: 45%;

  color: black;

  white-space: pre-wrap;
}
