.project-container {
  height: fit-content;
  padding: 120px 30px;
}
.project-image-container {
  width: 65%;
}

.project-image {
  width: 100%;
  border-radius: 10px;
}

.project-text-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.project-title-container {
  height: fit-content;
  padding-left: 10px;
  transform: translateX(-10px);
  transition: transform 0.25s ease-out;
}
.project-title-container:hover {
  transform: scale(1.1);
}
.project-link {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: calc(1px + 1vmin);

  transition: color 0.3s;
}
.project-title {
  text-decoration: none;
}
.north-east-arrow {
  width: calc(7px + 2vmin);
  height: calc(7px + 2vmin);
  transform: rotate(-45deg);
  padding-bottom: calc(0.5px + 0.5vmin);
}

.project-description {
  width: 45%;

  white-space: pre-wrap;

  transition: color 0.3s;
}
