.site-header {
  min-height: 100vh;
}

.site-title {
  position: absolute;
  top: 40px;
  left: 30px;

  display: flex;
  flex-direction: column;
  gap: calc(80px + 2vmin);

  font-size: calc(80px + 2vmin);
  line-height: 100%;

  white-space: pre-wrap;
}

.email {
  position: fixed;
  bottom: 30px;
  right: 30px;

  transition: color 0.3s;
}
.email:hover {
  text-transform: "copy";
}

@media screen and (max-device-width: 820px) {
  .site-title {
    top: 25px;
    left: 17px;

    font-size: calc(40px + 2vmin);
  }
}

@media screen and (max-device-width: 414px) {
  .site-title {
    gap: calc(40px + 2vmin);
  }
  .email {
    position: absolute;
    right: 17px;

    font-size: calc(12px + 2vmin);
  }
}
